<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="position: fixed; top: 0; width: 100%"
>
  <div class="container px-4 px-lg-5">
    <img
      src="https://i.postimg.cc/d3PWQ8Cn/cart3.png"
      style="height: 30px; width: 30px"
      alt=""
    />
    <a class="navbar-brand" href="/">Shoppy</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product/add">Add New Product</a>
        </li>
        <li class="nav-item"><a class="nav-link" href=""></a></li>

        <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li> -->
      </ul>
      <!-- search input -->
      <!-- ngmodel 2 way binding is used here -->
      <form class="d-flex">
        <input
          name="s1"
          id="n1"
          (keyup)="search($event)"
          [(ngModel)]="searchData"
          type="text"
          placeholder="search product"
        />
        <button class="btn btn-outline-dark ms-2" type="submit">search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="py-5" style="background-color: blueviolet">
  <div class="container px-3 px-lg-5 my-3">
    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active imgstyle">
          <img src="https://i.postimg.cc/0yPQKXvy/banner2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.postimg.cc/J7HtfBKM/banner1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.postimg.cc/jjkd9s7D/banner3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div> -->
    <!-- <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          class="carousel-item"
          data-bs-interval="2000"
          style="height: 200px"
        >
          <img
            src="https://i.postimg.cc/J7HtfBKM/banner1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div
          class="carousel-item"
          data-bs-interval="2000"
          style="height: 200px"
        >
          <img
            src="https://i.postimg.cc/0yPQKXvy/banner2.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.postimg.cc/jjkd9s7D/banner3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
    <!-- lottiefiles -->
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <iframe
        src="https://lottie.host/?file=6dd62d46-7f4d-4f27-8b5c-57430a1586e4/cCCs5YCrNj.json"
        style="height: 150px"
      ></iframe>
      <p class="lead fw-normal text-white-50 mb-0">
        "place where ideas come to life...!!"
      </p>
    </div>
  </div>
</header>
