<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="container justify-content-center category d-flex  mb-5">
                <div class="text-center cat m-2" style="background-color: rgb(228, 225, 225);">
                    <div (click)="filterProducts('')">
                        <img src="https://i.postimg.cc/zBpYj2Nn/furni.jpg"
                            style="border: 20px; width: 250px; height: 300px" alt="">
                    </div>
                    <h4 class="mt-1">All</h4>
                </div>
                <div class="text-center cat m-2" style="background-color: rgb(228, 225, 225);">
                    <div (click)="filterProducts('3')">
                        <img src="https://i.postimg.cc/4x4pdB4r/tab.jpg"
                            style="border: 20px; width: 250px; height: 300px" alt="">
                    </div>
                    <h4 class="mt-1">Furnishing</h4>
                </div>
                <div class="text-center cat m-2" style="background-color: rgb(228, 225, 225);">
                    <div (click)="filterProducts('2')">
                        <img src="https://i.postimg.cc/Y93jFwSk/decor.jpg"
                            style="border: 20px; width: 250px; height: 300px" alt="">
                    </div>
                    <h4 class="mt-1">Decor Items</h4>
                </div>
                <div class="text-center cat m-2" style="background-color: rgb(228, 225, 225);">
                    <div (click)="filterProducts(1)">
                        <img src="https://i.postimg.cc/NGyJGGC1/bedsheetc.jpg"
                            style="border: 20px; width: 250px; height: 300px" alt="">
                    </div>
                    <h4 class="mt-1">Bedsheets</h4>
                </div>
            </div>
            <!-- list all products -->
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                <!-- add filter pipe----"after loop | pipename : 'searchstring' : 'propertyName' "-->
                <div *ngFor="let i of filterProductsData | search : 'table' : 'productName' " class="col mb-5">
                    <div class="shadow card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src={{i.productImage}} alt="..." style="height: 200px;" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{i.productName}}</h5>
                                <!-- Product price-->
                                ₹&nbsp;{{i.price}}
                                <div style="color: rgb(215, 215, 0);">{{i.rating}}*</div>
                                <div>({{i.review}})</div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="product/view/{{i.id}}">View Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>