<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{productData.productImage}} alt="..."
                    style="height: 500px;" /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{productData.vendorName}}&nbsp;{{productData.productName}}</div>
                <h1 class="display-5 fw-bolder">{{productData.productName}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">₹45.00</span> -->
                    <span>₹{{productData.price}}</span>
                </div>
                <p class="lead">{{productData.description}}</p>
                <p class="lead">Rating <strong>{{productData.rating}} | {{productData.review}}</strong></p>
                <p class="lead">Brand <strong>{{productData.vendorName}}</strong></p>

                <div class="d-flex">
                    <a href="product/edit/{{id}}">
                        <button class="btn btn-outline-dark flex-shrink-0 px-5 mt-4" type="button">
                            Edit
                        </button>
                    </a>
                    <a href="product/delete/{{id}}">
                        <button class="btn btn-outline-dark flex-shrink-0 ms-4 px-5 mt-4" type="button">
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>